In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
import logging
import dvc.api
import os
import sys

In [14]:
module_path =os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path+"\\scripts")

if module_path not in sys.path:
    sys.path.append(module_path+"\\model")



# logging.basicConfig(filename='../logs/preprocessnotebook.log', filemode='w', format='%(asctime)s - %(name)s - %(levelname)s - %(message)s',level=logging.DEBUG)

In [15]:
"""
This script contains eda scripts
"""
import pandas as pd
import numpy as np
import logging
from scipy import stats
import mlflow 
import logging
import sys

logging.basicConfig(filename='../logs/cleanData.log', filemode='w', format='%(asctime)s - %(name)s - %(levelname)s - %(message)s',level=logging.DEBUG)

def num_nulls(data):
    try:
        logging.debug("Getting nuls")
        sumMissing=data.isna().sum()
        percenategeMissing=sumMissing/len(data)*100

        logging.info("Calculating percentage ")

        missingValue=pd.DataFrame(data=[sumMissing,percenategeMissing])
        missingValue=missingValue.T
        missingValue.columns=["Total Missing","Percenated Missing"]
        
        logging.info("Done calculating nulls  ")
     

        return missingValue
    except Exception as e:
        pass

def aboveThresholdMissing(data,threshold):
    
    data.dropna(thresh=len(data) * threshold,inplace=True,axis=1)


def drop_duplicate(data):
    
    # This function looks for duplicates and drops them 
    try:
        

        logging.debug("Launching duplicates search")
        print("Droppping duplicates\n")
        data=data.drop_duplicates()
        dupCount=len(data)-len(data.drop_duplicates())
        print ("There are {} duplicates in the dataset\n".format(dupCount))
        logging.info("Number of duplicates in the datset are {} ".format(dupCount))

        print("Done dropping duplicates! \n")

        return data 

    except Exception as e:
        logging.info("An erro has occured")
        logging.error("The follocing error occured {} ".format(e.__class__))
        print("The following error occured {} ".format(e.__class__))
        sys.exit(1)

def valueCounts(self,columns):
        # function to calculate the number of records per each unique value
    try:

        logging.debug("Value counts of {} column".format(columns))
        count=data[columns].value_counts()
        countDF=pd.DataFrame(data=[count])
        count=count.T 

        return count
    except Exception as e:
        logging.info("An erro occured")
        logging.error("The following error occured {} ".format(e.__class__))
        print("The following error occured {} ".format(e.__class__))
        sys.exit(1)
def date_time_convertion():
    data['fecha_dato']=data['fecha_dato'].apply(lambda x: pd.to_datetime(x))
    data['fecha_alta']=data['fecha_alta'].apply(lambda x :pd.to_datetime(x))

In [16]:
data_url=dvc.api.get_url('data/cust_seg.csv','https://github.com/Blvisse/CustomerSegmentation','data-v1')

In [17]:
data=pd.read_csv(data_url)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [18]:
data

,Unnamed: 0,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,...,0,0,0,0,0,0,0,0.0,0.0,0
1,1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,...,0,0,0,0,0,0,0,0.0,0.0,0
3,3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,...,0,0,0,0,0,0,0,0.0,0.0,0
4,4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,...,0,0,0,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,999995,2015-02-28,1183296,N,ES,H,27,2013-09-25,0.0,22,...,0,0,0,0,0,0,0,0.0,0.0,1
999996,999996,2015-02-28,1183295,N,ES,H,56,2013-09-25,0.0,22,...,0,0,0,0,0,0,0,0.0,0.0,0
999997,999997,2015-02-28,1183294,N,ES,V,39,2013-09-25,0.0,22,...,0,0,0,0,0,0,0,0.0,0.0,1
999998,999998,2015-02-28,1183293,N,ES,V,36,2013-09-25,0.0,22,...,0,0,0,0,0,0,0,0.0,0.0,1
999999,999999,2015-02-28,1183289,N,ES,H,38,2013-09-25,0.0,22,...,0,0,0,0,0,0,0,0.0,0.0,1

## Checking for nulls

In [19]:
num_nulls(data)

                       Total Missing  Percenated Missing
Unnamed: 0                       0.0              0.0000
fecha_dato                       0.0              0.0000
ncodpers                         0.0              0.0000
ind_empleado                 10782.0              1.0782
pais_residencia              10782.0              1.0782
sexo                         10786.0              1.0786
age                              0.0              0.0000
fecha_alta                   10782.0              1.0782
ind_nuevo                    10782.0              1.0782
antiguedad                       0.0              0.0000
indrel                       10782.0              1.0782
ult_fec_cli_1t              998899.0             99.8899
indrel_1mes                  10782.0              1.0782
tiprel_1mes                  10782.0              1.0782
indresi                      10782.0              1.0782
indext                       10782.0              1.0782
conyuemp                    999822.0             99.9822
canal_entrada                10861.0              1.0861
indfall                      10782.0              1.0782
tipodom                      10782.0              1.0782
cod_prov                     17734.0              1.7734
nomprov                      17734.0              1.7734
ind_actividad_cliente        10782.0              1.0782
renta                       175183.0             17.5183
ind_ahor_fin_ult1                0.0              0.0000
ind_aval_fin_ult1                0.0              0.0000
ind_cco_fin_ult1                 0.0              0.0000
ind_cder_fin_ult1                0.0              0.0000
ind_cno_fin_ult1                 0.0              0.0000
ind_ctju_fin_ult1                0.0              0.0000
ind_ctma_fin_ult1                0.0              0.0000
ind_ctop_fin_ult1                0.0              0.0000
ind_ctpp_fin_ult1                0.0              0.0000
ind_deco_fin_ult1                0.0              0.0000
ind_deme_fin_ult1                0.0              0.0000
ind_dela_fin_ult1                0.0              0.0000
ind_ecue_fin_ult1                0.0              0.0000
ind_fond_fin_ult1                0.0              0.0000
ind_hip_fin_ult1                 0.0              0.0000
ind_plan_fin_ult1                0.0              0.0000
ind_pres_fin_ult1                0.0              0.0000
ind_reca_fin_ult1                0.0              0.0000
ind_tjcr_fin_ult1                0.0              0.0000
ind_valo_fin_ult1                0.0              0.0000
ind_viv_fin_ult1                 0.0              0.0000
ind_nomina_ult1               5402.0              0.5402
ind_nom_pens_ult1             5402.0              0.5402
ind_recibo_ult1                  0.0              0.0000

A couple of cells seem to have way to many nulls, with a percentage of 99.8 % that column might not be of use to us so we drop column that have more than 50 % nulls

In [20]:
aboveThresholdMissing(data,.5)

## Checking for duplicates

In [21]:
drop_duplicate(data)

Droppping duplicates

There are 0 duplicates in the dataset

Done dropping duplicates!

,Unnamed: 0,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,...,0,0,0,0,0,0,0,0.0,0.0,0
1,1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,...,0,0,0,0,0,0,0,0.0,0.0,0
3,3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,...,0,0,0,0,0,0,0,0.0,0.0,0
4,4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,...,0,0,0,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,999995,2015-02-28,1183296,N,ES,H,27,2013-09-25,0.0,22,...,0,0,0,0,0,0,0,0.0,0.0,1
999996,999996,2015-02-28,1183295,N,ES,H,56,2013-09-25,0.0,22,...,0,0,0,0,0,0,0,0.0,0.0,0
999997,999997,2015-02-28,1183294,N,ES,V,39,2013-09-25,0.0,22,...,0,0,0,0,0,0,0,0.0,0.0,1
999998,999998,2015-02-28,1183293,N,ES,V,36,2013-09-25,0.0,22,...,0,0,0,0,0,0,0,0.0,0.0,1
999999,999999,2015-02-28,1183289,N,ES,H,38,2013-09-25,0.0,22,...,0,0,0,0,0,0,0,0.0,0.0,1

# Data Cleaning

Drop the unwanted column Unnamed:0

In [22]:
data.drop(labels=['Unnamed: 0'],axis=1,inplace=True)
data

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2015-02-28,1183296,N,ES,H,27,2013-09-25,0.0,22,1.0,...,0,0,0,0,0,0,0,0.0,0.0,1
999996,2015-02-28,1183295,N,ES,H,56,2013-09-25,0.0,22,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
999997,2015-02-28,1183294,N,ES,V,39,2013-09-25,0.0,22,1.0,...,0,0,0,0,0,0,0,0.0,0.0,1
999998,2015-02-28,1183293,N,ES,V,36,2013-09-25,0.0,22,1.0,...,0,0,0,0,0,0,0,0.0,0.0,1
999999,2015-02-28,1183289,N,ES,H,38,2013-09-25,0.0,22,1.0,...,0,0,0,0,0,0,0,0.0,0.0,1

## Column names translation

In [ ]:
!pip install googletrans

In [ ]:
# import googletrans
# from googletrans import Translator

In [ ]:
# from google_trans_new import google_translator  
# import google_trans_new
# # create a translator object
# translator = google_translator()

# # use translate method to translate a string - by default, the destination language is english
# translated = translator.translate('Hola Mundo!')

In [ ]:
# from google_trans_new import google_translator  
# import google_trans_new
  
# translator = google_translator()  
# translate_text = translator.translate('Hola mundo!', lang_src='es', lang_tgt='en')

In [4]:

!pip install googletrans==3.1.0a0

Requirement already satisfied: googletrans==3.1.0a0 in c:\programdata\anaconda3\lib\site-packages (3.1.0a0)
Requirement already satisfied: httpx==0.13.3 in c:\programdata\anaconda3\lib\site-packages (from googletrans==3.1.0a0) (0.13.3)
Requirement already satisfied: idna==2.* in c:\programdata\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2.10)
Requirement already satisfied: httpcore==0.9.* in c:\programdata\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (0.9.1)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (1.2.0)
Requirement already satisfied: chardet==3.* in c:\programdata\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (3.0.4)
Requirement already satisfied: rfc3986<2,>=1.3 in c:\programdata\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (1.4.0)
Requirement already satisfied: hstspreload in c:\programdata\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2020.12.22)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2020.12.5)
Requirement already satisfied: h11<0.10,>=0.8 in c:\programdata\anaconda3\lib\site-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (0.9.0)
Requirement already satisfied: h2==3.* in c:\programdata\anaconda3\lib\site-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (3.2.0)
Requirement already satisfied: hpack<4,>=3.0 in c:\programdata\anaconda3\lib\site-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (3.0.0)
Requirement already satisfied: hyperframe<6,>=5.2.0 in c:\programdata\anaconda3\lib\site-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (5.2.0)

WARNING: You are using pip version 20.2.3; however, version 21.2.4 is available.
You should consider upgrading via the 'C:\ProgramData\Anaconda3\python.exe -m pip install --upgrade pip' command.

In [5]:
from googletrans import Translator, constants
from pprint import pprint

In [6]:
# init the Google API translator
translator = Translator()

In [8]:




# translate a spanish text to english text (by default)
translation = translator.translate("Hola Mundo",dest="ar")
print(f"{translation.origin} ({translation.src}) --> {translation.text} ({translation.dest})")

Hola Mundo (en) --> Hola Mundo (ar)

In [10]:
# create a translator object
translator = Translator()

# use translate method to translate a string - by default, the destination language is english
translated = translator.translate('Hola Mundo')

# the translate method returns an object
print(translated)
# Translated(src=es, dest=en, text=Hello World, pronunciation=Hello World, extra_data="{'translat...")

# obtain translated string by using attribute .text
translated.text
# 'Hello World'

Translated(src=en, dest=en, text=Hola Mundo, pronunciation=Hola Mundo, extra_data="{'translat...")

'Hola Mundo'

In [ ]:
cols=data.columns

In [ ]:
c=[]
for name in cols:
    c.append(name.split("_"))

In [ ]:
c

In [ ]:
encols=[]
for columns in c:
    for word in columns:
        encols.append(translator.translate(word).text)

## Date Conversion

In [41]:

data['fecha_dato']=data['fecha_dato'].apply(lambda x: pd.to_datetime(x))
# pd.to_datetime(data[['fecha_dato']],format='%Y%m%d')

In [42]:
data['fecha_alta']=data['fecha_alta'].apply(lambda x :pd.to_datetime(x))

data

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2015-02-28,1183296,N,ES,H,27,2013-09-25,0.0,22,1.0,...,0,0,0,0,0,0,0,0.0,0.0,1
999996,2015-02-28,1183295,N,ES,H,56,2013-09-25,0.0,22,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
999997,2015-02-28,1183294,N,ES,V,39,2013-09-25,0.0,22,1.0,...,0,0,0,0,0,0,0,0.0,0.0,1
999998,2015-02-28,1183293,N,ES,V,36,2013-09-25,0.0,22,1.0,...,0,0,0,0,0,0,0,0.0,0.0,1
999999,2015-02-28,1183289,N,ES,H,38,2013-09-25,0.0,22,1.0,...,0,0,0,0,0,0,0,0.0,0.0,1

In [43]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 45 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   fecha_dato             1000000 non-null  datetime64[ns]
 1   ncodpers               1000000 non-null  int64
 2   ind_empleado           989218 non-null   object
 3   pais_residencia        989218 non-null   object
 4   sexo                   989214 non-null   object
 5   age                    1000000 non-null  object
 6   fecha_alta             989218 non-null   datetime64[ns]
 7   ind_nuevo              989218 non-null   float64
 8   antiguedad             1000000 non-null  object
 9   indrel                 989218 non-null   float64
 10  indrel_1mes            989218 non-null   float64
 11  tiprel_1mes            989218 non-null   object
 12  indresi                989218 non-null   object
 13  indext                 989218 non-null   object
 14  canal_entrada          989139 non-null   object
 15  indfall                989218 non-null   object
 16  tipodom                989218 non-null   float64
 17  cod_prov               982266 non-null   float64
 18  nomprov                982266 non-null   object
 19  ind_actividad_cliente  989218 non-null   float64
 20  renta                  824817 non-null   float64
 21  ind_ahor_fin_ult1      1000000 non-null  int64
 22  ind_aval_fin_ult1      1000000 non-null  int64
 23  ind_cco_fin_ult1       1000000 non-null  int64
 24  ind_cder_fin_ult1      1000000 non-null  int64
 25  ind_cno_fin_ult1       1000000 non-null  int64
 26  ind_ctju_fin_ult1      1000000 non-null  int64
 27  ind_ctma_fin_ult1      1000000 non-null  int64
 28  ind_ctop_fin_ult1      1000000 non-null  int64
 29  ind_ctpp_fin_ult1      1000000 non-null  int64
 30  ind_deco_fin_ult1      1000000 non-null  int64
 31  ind_deme_fin_ult1      1000000 non-null  int64
 32  ind_dela_fin_ult1      1000000 non-null  int64
 33  ind_ecue_fin_ult1      1000000 non-null  int64
 34  ind_fond_fin_ult1      1000000 non-null  int64
 35  ind_hip_fin_ult1       1000000 non-null  int64
 36  ind_plan_fin_ult1      1000000 non-null  int64
 37  ind_pres_fin_ult1      1000000 non-null  int64
 38  ind_reca_fin_ult1      1000000 non-null  int64
 39  ind_tjcr_fin_ult1      1000000 non-null  int64
 40  ind_valo_fin_ult1      1000000 non-null  int64
 41  ind_viv_fin_ult1       1000000 non-null  int64
 42  ind_nomina_ult1        994598 non-null   float64
 43  ind_nom_pens_ult1      994598 non-null   float64
 44  ind_recibo_ult1        1000000 non-null  int64
dtypes: datetime64[ns](2), float64(9), int64(23), object(11)
memory usage: 343.3+ MB

# Univariate

In [46]:
data.describe()

,ncodpers,ind_nuevo,indrel,indrel_1mes,tipodom,cod_prov,ind_actividad_cliente,renta,ind_ahor_fin_ult1,ind_aval_fin_ult1,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
count,1.000000e+06,989218.000000,989218.000000,989218.000000,989218.0,982266.000000,989218.000000,8.248170e+05,1000000.000000,1000000.000000,...,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,994598.000000,994598.000000,1000000.000000
mean,6.905967e+05,0.000489,1.109074,1.000085,1.0,26.852131,0.564971,1.396462e+05,0.000177,0.000039,...,0.009982,0.014553,0.004661,0.072581,0.066084,0.039378,0.006442,0.071629,0.079543,0.166275
std,4.044084e+05,0.022114,3.267624,0.012954,0.0,12.422924,0.495761,2.389858e+05,0.013303,0.006245,...,0.099410,0.119755,0.068112,0.259448,0.248429,0.194493,0.080003,0.257873,0.270584,0.372327
min,1.588900e+04,0.000000,1.000000,1.000000,1.0,1.000000,0.000000,1.202730e+03,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.364110e+05,0.000000,1.000000,1.000000,1.0,18.000000,0.000000,7.157184e+04,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,6.644760e+05,0.000000,1.000000,1.000000,1.0,28.000000,1.000000,1.066519e+05,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.074511e+06,0.000000,1.000000,1.000000,1.0,33.000000,1.000000,1.634325e+05,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.379131e+06,1.000000,99.000000,3.000000,1.0,52.000000,1.000000,2.889440e+07,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000